@use '@/assets/styles/ui.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-page-content {
    background-color: ui.$colors-ui-black;
    min-height: 100vh; /* Use min-height instead of height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-box {
    max-width: 450px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    padding: ui.$spacing-medium-large;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    & div,
    p {
        color: ui.$colors-ui-black;
    }

    .login-header {
        width: 100%;
        text-align: center;
        margin-bottom: ui.$spacing-medium;
    }
}

.input-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: ui.$spacing-small;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: ui.$spacing-medium;
    padding-top: 20px;
}

.popout {
    max-width: 600px;
    width: 100%;

    .v-card {
        border-radius: 12px;
    }
}

/* Add responsiveness for smaller screens */
@media (max-width: 600px) {
    .login-box {
        padding: ui.$spacing-medium;
        width: 90%;
        max-width: none;
    }

    .input-container {
        width: 100%;
    }
}
