// Global Colors Here




$colors-ui-white: #f4f4f4;
$colors-yellow: #E8C547;
$colors-ui-black: #30323D;
$colors-ui-grey: #4D5061;
$colors-ui-blue: #5C80BC;
$colors-ui-tan: #CDD1C4;

$colors-background: $colors-ui-tan;
$colors-border: $colors-ui-grey;
$colors-general-text: $colors-ui-grey;