// Spacing Globals
$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-medium-large: 32px;
$spacing-large: 64px;

// Borders Globals
$border-radius-extra-small: 4px;
$border-radius-small: 8px;
$border-radius-medium: 8px;